<h4>{{question.title}}</h4>
<h5>{{question.question}}</h5>
{{question._id}}
<div *ngFor="let choice of question.choices">
  <label>
    <input type="radio"
           [value]="choice"
           [(ngModel)]="answer"
           name="{{question._id}}"/>
    {{choice}}
    <span [hidden]="!grading || choice !== question.correct">&#10004;</span>
    <span [hidden]="!grading || choice !== answer || choice === question.correct">&#10060;</span>
  </label>
</div>
<br/>
Your answer: {{answer}}
<br/>
<span [hidden]="!grading">Correct answer: {{question.correct}}</span>
<br/>
<button (click)="grade()">Grade</button>
