<div>
<span>
  <h4>
    {{question.question}}
    <span class="check-mark" [hidden]="!grading || answer !== question.correct">&#10004;</span>
    <span [hidden]="!grading || answer === question.correct">&#10060;</span>
  </h4>
</span>
<div *ngFor="let choice of question.choices">
  <label class="answer-option" [class]="{'correct': grading && choice === question.correct,
  'wrong': answer !== question.correct && grading && answer === choice}">
    <input type="radio"
           [value]="choice"
           [(ngModel)]="answer"
           name="{{question._id}}"/>
    {{choice}}
    <span [hidden]="!grading || choice !== question.correct">&#10004;</span>
    <span [hidden]="!grading || choice !== answer || choice === question.correct">&#10060;</span>
  </label>
</div>
<br/>
Your answer: {{answer}}
<br/>
<span [hidden]="!grading">Correct answer: {{question.correct}}</span>
<br/>
<button class="grade-button" (click)="grade()">Grade</button>
</div>
