.tr {
  border-bottom: grey 1px solid;
}

.course-row {
  border-bottom: grey 1px solid;
  padding: 20px;
}

.nav-brand {
  background-color: cornflowerblue;
  padding: 20px;
  margin: 0 0 0 0;
  color: white;
}

.float-right {
  float: right;
}
