@import "~bootstrap/dist/css/bootstrap.min.css";
.row {
  align-content: center;
}

.modules {
  width: 50%;
}

.lessons {
  width: 100%;
}

.nav-brand {
  background-color: cornflowerblue;
  padding: 20px;
  margin: 0 0 20px 0;
}

.exit-button {
  padding: 10px 10px 10px 10px;
  color: white;
  background-color: grey;
  border-radius: 25px;
  margin-right: 10px;
}

.course-title {
  color: white;
}
