<div class="question-with-grade">
<div class="question">
  <div class="row">
    <h4>
      {{question.question}}
      <span class="check-mark" [hidden]="!grading || answer !== question.correct">&#10004;</span>
      <span [hidden]="!grading || 'false' !== answer || 'false' === question.correct">&#10060;</span>
    </h4>
  </div>
  <label class="answer-option" [class]="{'correct': grading && 'true' === question.correct,
  'wrong': answer !== question.correct && grading && answer === 'true'}">
    <input type="radio"
           value="true"
           [(ngModel)]="answer"
           name="{{question._id}}"/>
    True
    <span class="check-mark" [hidden]="!grading || 'true' !== question.correct">&#10004;</span>
    <span [hidden]="!grading || 'true' !== answer || 'true' === question.correct">&#10060;</span>
  </label>
  <label  class="answer-option" [class]="{'correct': grading && 'false' === question.correct,
  'wrong': answer !== question.correct && grading && answer === 'false'}">
    <input type="radio"
           value="false"
           [(ngModel)]="answer"
           name="{{question._id}}"/>
    False
    <span [hidden]="!grading || 'false' !== question.correct">&#10004;</span>
    <span [hidden]="!grading || 'false' !== answer || 'false' === question.correct">&#10060;</span>
  </label>
  <br/>
  Your answer: {{answer}}
  <br/>
  <span [hidden]="!grading">Correct answer: {{question.correct}}</span>
  <br/>
</div>
<button class="grade-button" (click)="grade()">Grade</button>
</div>
