@import "~bootstrap/dist/css/bootstrap.min.css";

.nav-tabs {
  align-content: center;
  margin-left: 20px;
  margin-top: 10px;
}

.lesson-item {
  text-align: center;
  padding-left: 10%;
  background-color: lightgray;
  border-radius: 5px;
  border-bottom: darkgray 1px solid;
  margin-right: 10px;
  margin-left: 20px;
  max-width: 150px;
}

.active {
  background-color: cornflowerblue;
}
